.alt-screen-header {
  padding: 0px var(--horizontal-space);
  padding-top: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-screen-header__column {
  width: 33%;
}
.alt-screen-header__column:first-child {
  margin-right: auto;
  display: flex;
}
.alt-screen-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.alt-screen-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-screen-header__title {
  font-weight: 600;
  font-size: 22px;
}
.alt-screen-header__column:last-child span:last-child {
  margin-left: 20px;
}
